# ????
/node_modules

# ??????
/out
/release
/dist
/.webpack

# OS???????
.DS_Store
Thumbs.db

# ???????????????????????????
# (?????)
.env
*.log

# ??????????????????????
history.json 
# ????userData?????????????.gitignore??????????????
#  ????????????????????????

# electron-builder????????
.cache